@import "variables";

/* --------- Typography -------- */

// Responsive Text Sizes
.responsive-text- {
    &5 {
        font-size: 12vmin;
    }
    &4 {
        font-size: 9.6vmin;
    }
    &3 {
        font-size: 7.2vmin;
    }
    &2 {
        font-size: 4.8vmin;
    }
    &1 {
        font-size: 3.6vmin;
    }
}

// Helper Classes
.is-family-sans-serif {
    font-family: $family-sans-serif !important;
}

.is-family-title {
    font-family: $family-title !important;
}

.is-family-secondary {
    font-family: $family-secondary !important;
}

.is-family-monospace {
    font-family: $family-monospace !important;
}

.is-family-primary {
    font-family: $family-primary !important;
}

.is-family-serif {
    font-family: $family-serif !important;
}

.is-family-code {
    font-family: $family-code !important;
}

// margin helper class tree
.m {
    // all
    &a1 {
        margin: $pad;
    }
    &a2 {
        margin: ($pad * 2);
    }
    &a3 {
        margin: ($pad * 3);
    }
    &a4 {
        margin: ($pad * 4);
    }
    &a5 {
        margin: ($pad * 5);
    }
    &h {
        // horizontal
        &0 {
            margin-left: 0;
            margin-right: 0;
        }
        &1 {
            margin: 0 $pad 0 $pad;
        }
        &2 {
            margin: 0 ($pad * 2) 0 ($pad * 2);
        }
        &3 {
            margin: 0 ($pad * 3) 0 ($pad * 3);
        }
        &4 {
            margin: 0 ($pad * 4) 0 ($pad * 4);
        }
        &5 {
            margin: 0 ($pad * 5) 0 ($pad * 5);
        }
    }
    &v {
        //vertical
        &0 {
            margin-top: 0;
            margin-bottom: 0;
        }
        &1 {
            margin: $pad 0 $pad 0;
        }
        &2 {
            margin: ($pad * 2) 0 ($pad * 2) 0;
        }
        &3 {
            margin: ($pad * 3) 0 ($pad * 3) 0;
        }
        &4 {
            margin: ($pad * 4) 0 ($pad * 4) 0;
        }
        &5 {
            margin: ($pad * 5) 0 ($pad * 5) 0;
        }
    }
    &t {
        // top
        &0 {
            margin-top: 0;
        }
        &1 {
            margin-top: $pad;
        }
        &2 {
            margin-top: ($pad * 2);
        }
        &3 {
            margin-top: ($pad * 3);
        }
        &4 {
            margin-top: ($pad * 4);
        }
        &5 {
            margin-top: ($pad * 5);
        }
    }
    &r {
        // right
        &0 {
            margin-right: 0;
        }
        &1 {
            margin-right: $pad;
        }
        &2 {
            margin-right: ($pad * 2);
        }
        &3 {
            margin-right: ($pad * 3);
        }
        &4 {
            margin-right: ($pad * 4);
        }
        &5 {
            margin-right: ($pad * 5);
        }
    }
    &l {
        // left
        &0 {
            margin-left: 0;
        }
        &1 {
            margin-left: $pad;
        }
        &2 {
            margin-left: ($pad * 2);
        }
        &3 {
            margin-left: ($pad * 3);
        }
        &4 {
            margin-left: ($pad * 4);
        }
        &5 {
            margin-left: ($pad * 5);
        }
    }
    &b {
        // bottom
        &0 {
            margin-bottom: 0;
        }
        &1 {
            margin-bottom: $pad;
        }
        &2 {
            margin-bottom: ($pad * 2);
        }
        &3 {
            margin-bottom: ($pad * 3);
        }
        &4 {
            margin-bottom: ($pad * 4);
        }
        &5 {
            margin-bottom: ($pad * 5);
        }
    }
}

// padding helper class tree
.p {
    // all
    &a1 {
        padding: $pad;
    }
    &a2 {
        padding: ($pad * 2);
    }
    &a3 {
        padding: ($pad * 3);
    }
    &a4 {
        padding: ($pad * 4);
    }
    &a5 {
        padding: ($pad * 5);
    }
    &h {
        // horizontal
        &0 {
            padding-left: 0;
            padding-right: 0;
        }
        &1 {
            padding: 0 $pad 0 $pad;
        }
        &2 {
            padding: 0 ($pad * 2) 0 ($pad * 2);
        }
        &3 {
            padding: 0 ($pad * 3) 0 ($pad * 3);
        }
        &4 {
            padding: 0 ($pad * 4) 0 ($pad * 4);
        }
        &5 {
            padding: 0 ($pad * 5) 0 ($pad * 5);
        }
    }
    &v {
        //vertical
        &0 {
            padding-top: 0;
            padding-bottom: 0;
        }
        &1 {
            padding: $pad 0 $pad 0;
        }
        &2 {
            padding: ($pad * 2) 0 ($pad * 2) 0;
        }
        &3 {
            padding: ($pad * 3) 0 ($pad * 3) 0;
        }
        &4 {
            padding: ($pad * 4) 0 ($pad * 4) 0;
        }
        &5 {
            padding: ($pad * 5) 0 ($pad * 5) 0;
        }
    }
    &t {
        // top
        &0 {
            padding-top: 0;
        }
        &1 {
            padding-top: $pad;
        }
        &2 {
            padding-top: ($pad * 2);
        }
        &3 {
            padding-top: ($pad * 3);
        }
        &4 {
            padding-top: ($pad * 4);
        }
        &5 {
            padding-top: ($pad * 5);
        }
    }
    &r {
        // right
        &0 {
            padding-right: 0;
        }
        &1 {
            padding-right: $pad;
        }
        &2 {
            padding-right: ($pad * 2);
        }
        &3 {
            padding-right: ($pad * 3);
        }
        &4 {
            padding-right: ($pad * 4);
        }
        &5 {
            padding-right: ($pad * 5);
        }
    }
    &l {
        // left
        &0 {
            padding-left: 0;
        }
        &1 {
            padding-left: $pad;
        }
        &2 {
            padding-left: ($pad * 2);
        }
        &3 {
            padding-left: ($pad * 3);
        }
        &4 {
            padding-left: ($pad * 4);
        }
        &5 {
            padding-left: ($pad * 5);
        }
    }
    &b {
        // bottom
        &0 {
            padding-bottom: 0;
        }
        &1 {
            padding-bottom: $pad;
        }
        &2 {
            padding-bottom: ($pad * 2);
        }
        &3 {
            padding-bottom: ($pad * 3);
        }
        &4 {
            padding-bottom: ($pad * 4);
        }
        &5 {
            padding-bottom: ($pad * 5);
        }
    }
}