:root {
  --background-color--callout: #FFFF33;
  --background-color--light-mode: #F1E8D2;
  --color-navlink-bg: white;
  --color-navlink-text: rgb(58, 12, 58);
  --header-height: 50px;
  --loop-list-height: 12vh;
  --text-color--callout: #1c1b2b;
  --text-color--light-mode: #231C17;
}