{
  "parser": "babel-eslint",
  "extends": [ "plugin:prettier/recommended" ],
  "parserOptions": { "ecmaVersiaon": 11 },
  "plugins": ["env", "react", "react-app", "react-hooks", "prettier"],
  "rules": { "prettier/prettier": "error" }
}