{
  "parser": "babel-eslint",
  "extends": [
    "plugin:prettier/recommended",
    "prettier/react",
    "prettier/standard"
  ],
  "parserOptions": { "ecmaVersiaon": 11 },
  "plugins": ["env", "react", "react-app", "react-hooks", "prettier"],
  "rules": {
    "prettier/prettier": "error"
  }
}