{
  "parser": "babel",
  "printWidth": 72,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": false,
  "semi": false,
  "quoteProps": "as-needed",
  "useTabs": false,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "jsxSingleQuote": false,
  "endOfLine": "auto"
}