@import './partials';

.page-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 100%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  text-align: center;
  height: 50px;
  width: 100vw;
  
  &.home {
    justify-content: space-between;
  }
  
  .left {
    line-height: var(--header-height);
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: flex-start;
    height: var(--header-height);
    padding-left: 0;
  }
  
  .right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 0;
  }
  
  .navlink {
    display: flex;
    padding: 0 12px;
    text-decoration: none;
    vertical-align: middle;
    height: var(--header-height);
    color: var(--color-navlink-text);
    line-height: var(--header-height);
    
    &:hover,
    &:active,
    &:focus {
      background: var(--color-navlink-text);
      color: var(--color-navlink-bg);
    }
  }
}

.content-view {
  height: 100%;
  min-height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 7vh;
  margin: 0;
}

.footer {
  display: block;
  flex: 0 0 auto;
}

.hero {
  margin: 0;
  width: 100%;

  .center-wrap {}
  .title-name {
    .monogram {
      overflow: visible;
      white-space: nowrap;
      font-size: 8vmax;
      margin: 1.5rem auto;
      text-align: center;
    }
  }

  .row.hero-row {
    max-width: none !important;
    margin: none;
  }

  .title {
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
    width: 100%;
    &.name {font-size: 8vw;}
  }

  .subtitle {
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
    width: 100%;
    &.name {
      font-size: 2.5vw;
    }
  }
  .description {
    min-height: 40px;
    text-align: center;
  }
}

.row {
  width: 100%;
  margin: 1vh auto 0 auto;
  padding: 0.5rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.home-cards {
  flex-direction: row;
}

.scroll-box {
  transition-property: position;
  height: 100%;
  display: block;
  overflow: hidden scroll;
  max-height: 90vh;
}

.headshot {
  border: solid 1rem $white;
  box-shadow: 2px 12px 12px rgba(0, 0, 0, .45);
  box-sizing: content-box;
  max-width: 360px;
  margin: 0 auto;
}

.loop-list.row {
  @extend %center-center;
  width: 100%;
  height: var(--loop-list-height);
  color: var(--text-color--callout);
  background-color: var(--background-color--callout);

  .loop-list.wrapper{
    display: flex;
    height: var(--loop-list-height);
    width: 100%;
    margin: auto;

    .current-value {
      display: block;
      margin: auto;
      padding: 0;
      font-size: 3.5vh;
      text-align: center;
    }
  }
}