@import './partials/index.scss';

html {
  overflow: hidden auto;
  box-sizing: border-box;
  height: 100vh;
  * {
    &:before,
    &:after {
      box-sizing: inherit;
    }
  }
}

body {
  font-family: 'Muli-Regular', -apple-system, 'BlinkMacSystemFont', 'Avenir Next', 'Avenir', Helvetica, sans-serif;
  margin: 0;
}

.page-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  

  &.projects {
    max-height: 100vh;
    min-height: 100vh;
    overflow: auto;
  }

  .footer {
    flex: 0 0 auto;
  }
}

.nav {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 50px;
  text-align: center;

  &.home {
    justify-content: space-between;
  }

  .left {
    line-height: var(--header-height);
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: flex-start;
    height: var(--header-height);
    padding-left: 0;
  }

  .right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 0;
  }

  li {
    display: flex;
    padding: 0 12px;

    &:hover,
    &:active,
    &:focus {
      background: var(--color-navlink-text);

      .navlink {
        color: var(--color-navlink-bg);
      }
    }

    .navlink {
      line-height: var(--header-height);
      height: var(--header-height);
      vertical-align: middle;
      text-decoration: none;
      color: var(--color-navlink-text);
    }
  }
}

.hero {
  width: 100%;
  height: 720px;
  background-image: linear-gradient(to top, #ffe070 0%, #F1E8D2 100%);

    .title {
      width: 100%;
      margin: 0;
      padding-top: 30px;
      text-align: center;
    }

    .description {
      min-height: 40px;
      text-align: center;
    }
  }


.row {
  // margin: 80px auto 40px;
  max-width: 880px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  &.empty {
    height: '50vh';
  }
}

.card {
  width: 100%;
  padding: 18px 18px 24px;
  text-align: left;
  text-decoration: none;
  color: #434343;
  border: 1px solid #9b9b9b;
  &:hover { border-color: #067df7; }
  .card-text { font-size: 16px; }
  .card-title { font-size: 22px; }
  .card-header { font-size: 20px; }
  p {
    font-size: 16px;
    margin: 0;
    padding: 12px 0 0;
    color: #333333;
  }
}

.scroll-box {
  height: 100%;
  display: block;
  overflow: hidden scroll;
  max-height: 90vh;
}